body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    font-size: 18px;
    background-color: #f4f4f4;
    color: #555;
}

/* Заголовки */
h1, h2, h3 {
    margin-bottom: 50px;
    color: #333;
}

.container {
    max-width: 1200px; /* Максимальная ширина контента */
    margin: 0 auto; /* Автоматические отступы слева/справа для центрирования */
    padding: 0 20px; 
}

.form-container {
    margin: 0 auto;
    width: 200px;
    padding: 20px;
    border-radius: 15px; /*закругление углов*/
    border: 3px solid #333;
    margin-bottom: 10px;
    background: url('photo/auth.jpg');
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}

    /* Ссылки */
a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}

/* Стили для изображений */
img {
    display: block; /* Делаем блочным элементом для центрирования */
    width: 70%; /* Увеличиваем с 50% до 70% */
    max-width: 800px; /* Ограничиваем максимальную ширину */
    height: auto; /* Высота изображения подстраивается под ширину */
    margin: 20px auto; /* Центрируем по горизонтали и добавляем отступы сверху/снизу */
    border-radius: 8px; /* Добавляем скругленные углы для красоты */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Добавляем тень для объема */
}

/* Стили для таблиц */
table {
    width: auto;
    border-collapse: collapse; /* Объединяем границы ячеек */
    margin-bottom: 20px; /* Отступ снизу */
}

th, td {
    padding: 8px; /* Внутренние отступы ячеек */
    border: 1px solid #ddd; /* Граница ячеек */
    text-align: left; /* Выравнивание текста по левому краю */
}

th {
    background-color: #f2f2f2; /* Фон заголовков таблицы */
}

/* Стили для футера */

footer {
    background-color: #333;
    color: white;
    padding: 10px;
}
